.Button {
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--primary-color);
}

.clear {
   padding: 0;
   border: none;
   outline: none;
   background: none;
}